name: Deploy to EC2 con node

on:
  push:
    branches: [ main ]

jobs:


  build:
    env:
      USER_PG: ${{secrets.USER_PG}}
      HOST_PG: ${{secrets.HOST_PG}}
      PASSWORD_PG: ${{secrets.PASSWORD_PG}}
      DATABASE_PG: ${{secrets.DATABASE_PG}}
      PORT_PG: ${{secrets.PORT_PG}}

    runs-on: ubuntu-latest


  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Configurar Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '25'
      # Otros pasos de configuración de tu despliegue
      - name: Ejecutar aplicación
        run: |
          # Se inicia tu aplicación Node.js, pasando los secretos como variables de entorno
          node your-app.js
        env:
          USER_PG: ${{secrets.USER_PG}}
          HOST_PG: ${{secrets.HOST_PG}}
          PASSWORD_PG: ${{secrets.PASSWORD_PG}}
          DATABASE_PG: ${{secrets.DATABASE_PG}}
          PORT_PG: ${{secrets.PORT_PG}}


      
